.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.412);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.modal_body {
	background: rgb(255, 255, 255);
	width: 700px;
	height: 900px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 20px;
	z-index: 10;
}
