.container {
	width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
.container_todo {
	font-size: 24px;
}

.todo {
	background: rgba(0, 0, 0, 0.174);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin: 0px 0px 20px 0px;
	border: 1px solid #000;
	border-radius: 10px;
}
.checkbox {
	display: none;
}
.lable {
	cursor: pointer;
}
.fake {
	margin: 0px 20px 0px 0px;
	display: inline-block;
	width: 43px;
	height: 22px;
	border-radius: 15px;
	border: 1px solid #000;
	background: rgb(224, 224, 224);
	position: relative;
	transition: 0.2s;
}
.fake::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0, -50%);
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #000;
	background: rgb(255, 255, 255);
	transition: 0.2s;
}
.checkbox:checked + .fake::before {
	transform: translate(-100%, -50%);
}
.checkbox:checked + .fake {
	background: rgb(0, 190, 9);
}
.todo button {
	font-size: 25px;
	background: transparent;
	border: none;
	cursor: pointer;
}

.form_cnt {
	margin: 0px 0px 20px 0px;
}
